/* smal mobie. */
@media (min-width: 320px) and (max-width:479px) {

}/* large mobie. */
@media (min-width: 480px) and (max-width:767px) {
.couple-box:last-child {
  margin-top: 60px;
}
.registry-box {
  padding: 60px 0;
}
.registry-area {
  padding-left: 80px;
  padding-right: 80px;
}

}

/* Tablet desktop :768px. */
@media (min-width: 768px) {
.slide-text h2 {
  font-size: 50px;
  line-height: 60px;
}
.slide-text {
  bottom: 50%;
  color: #ffffff;
  left: 0;
  line-height: 22px;
  margin-bottom: -61px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.slide-text > p {
  font-size: 30px;
}
.familiy-area .couple-box {
  margin: 35px 0;
  padding-top: 44%;
}
.familiy-area .couple-text > h2 {
  font-size: 14px;
  line-height: 13px;
}
.registry-box {
  padding: 60px 0;
}
.registry-area {
  padding-left: 100px;
  padding-right: 100px;
}

}

